---
import Layout from "../layouts/mainlayout.astro";
---

<Layout>
  <div>
    <h1>letgo.</h1>
    <p>
      this takes inspiration from the idea of <a
        href="https://juliacameronlive.com/basic-tools/morning-pages/"
        >morning pages</a
      >
    </p>
    <p>
      write an unedited, raw, fleeting thought in this stream of conciousness
      which disappears. declutter.
    </p>
    <p>
      the idea is to model a "stream" of your thoughts, there may be typos,
      there may be mistakes, but it's a stream of thoughts. It's a stream of <b
        >your</b
      >
      thoughts.
    </p>
    <a href="/thoughts" style="font-si">write</a>
  </div>
  <style>
    a {
      color: white;
    }
    div {
      width: 80vh;
    }
    button {
      background-color: #191919;
      color: white;
      border: none;
      padding: 10px;
      margin-top: 10px;
    }
  </style>
</Layout>
